.logo {
    left: 10%;
}

.container-fluid{
    height: 50px;
    padding: 5px;
    background: linear-gradient(90deg, #00faff 0, #671cff);
    border-bottom: 0.5px solid #170026;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
    color: #EEEEEE;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}
