.heading{
    height: 67px;
    background: linear-gradient(90deg, #00cfcd 0, #1e207e);
}

.title{
    color: #5a5a5a;
}

.form-container .button {
    background-color: #61c6d4 !important;
    border-radius: 10px;
}
body{
    background-image: url('meetingroom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #0f0f0f;
}

.form-container{
    padding-top: 11px !important;
}

.container-fluid{
    padding-right: -15px;
    padding-left: -15px;
    opacity: 0.8;
}

#logo{
    width: 80px;
    height: 60px;
}

p{
    color: #9f9f9f;
    visibility: hidden;
    margin: 0px;
}
.mainButtons{
    padding-top: 20px;
}

.smallButtons{
    border-radius: 20px !important;
}

.btn{
    padding: 0 !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'avenir-next-regular';
}

.button {
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
}

.input {
    font-size: 18px;
    height: 57px;
    width: 390px;
    border: none;
    padding-left: 13px;
    box-sizing: border-box;
}

.alert {
    position: fixed;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    padding: 20px;
    border-radius: 7px;
    transition: .3s all ease-in;
}

.header-container {
    background-image: url('/assets/images/header-background.jpg');
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.form-container {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}


.form-container .input {
    border: 1px solid #7F8590;
    border-radius: 5px;
}

.form-container .button {
    background-color: #7178FF;
    color: #ffffff;
    font-size: 16px;
    height: 55px;
    width: 30%;
}

.col-md-12{
    padding: 9px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #444444;
}